numpy
matplotlib
scipy
torch
torchvision
hydra-core
omegaconf
phiflow
h5py
goppy
tensorboard
tqdm
scikit-image
pandas
cvxpy
scikit-fmm
prefect==3.2.7
fastapi==0.115.12
starlette==0.46.2
sse-starlette==0.10.3
datasets
lightning
